header {
  background-color: #F55A5A;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.header-logo {
  height: 24px;
}

.header-text {
  font-size: 14.46px;
  color: white;
  margin: 8px;
}